body{
    font-family: 'Gilam', sans-serif;
}
.container{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background: #171717;
    padding-top: 37px;
    padding-bottom: 100px;
}
.header-content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link{
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 25px 10px 39px;
}
.header-link::before{
    content: url("../img/vector.png");
    padding-right: 10px;
}
.main {
    background: #171717;
}
.heating-networks-background{
    background-image: url("../img/header_bg.jpeg");
}
.default-tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.heating-networks-title {
    padding-top:50px;
    margin-top: 0;
}
.heating-networks-paragraph{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 41px;
    padding-bottom: 41px;
}
.heating-networks-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 2vh;
    height: 936px;
    margin-bottom: 0;
    grid-template-areas:
    "first-item first-item second-item second-item third-item third-item"
    "fourth-item fourth-item fourth-item fifth-item fifth-item fifth-item";
}
.heating-networks-list-items{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}


.heating-networks-list-items-1{
    grid-area: first-item;
    background: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;

}
.heating-networks-list-items-2{
    grid-area: second-item;
    background: #B4A385;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heating-networks-list-items-3{
    grid-area: third-item;
    background: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heating-networks-list-items-4{
    grid-area: fourth-item;
    background: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heating-networks-list-items-5{
    grid-area: fifth-item;
    background: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.construction-equipment-background{
    background-image: url("../img/parallax_bg.jpeg");
    background-repeat: no-repeat;
    margin-bottom:191px;
}
.construction-equipment-title{
    padding-top: 162px;
    padding-bottom: 94px;
    margin-top: 0;
}
.construction-equipment-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 2vh;
    margin-bottom: 0;
    grid-template-areas:
    "first second third"
    "first second third"
    "fourth second six"
    "fourth fifth six"
    "fourth fifth seventh"
    "fourth fifth seventh";
}
.construction-equipment-list-items{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-left: 45px;
    padding-top: 50px;
}
.accent-span{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.construction-equipment-list-items-1 {
    grid-area: first;
    background: #0E0E0E;
}
.construction-equipment-list-items-3 {
    grid-area: third;
    background: #1F1F1F;
}
.construction-equipment-list-items-4 {
    grid-area: fourth;
    background: #1F1F1F;
    height: 560px;
}
.construction-equipment-list-items-2 {
    grid-area: second;
    background: #242424;
}
.construction-equipment-list-items-5 {
    grid-area: fifth;
    background: #E4B564;
}
.construction-equipment-list-items-6 {
    grid-area: six;
    background: #0E0E0E;
}
.construction-equipment-list-items-7 {
    grid-area: seventh;
    background: #0A0909;
}
.clients-n-projects-background{
    background: #0E0E0E;
    padding-bottom: 240px;
}
.clients-n-projects-header-list{
    display: flex;
    margin-top: 0;
    padding-top: 172px;
    padding-bottom: 72px;
}
.clients-n-projects-header-list-items{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.all-projects-link{
    position: absolute;
    right: 351px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 39px 10px 40px;
}

.clients-n-projects-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 782px;
    text-align: center;
    grid-template-areas:
    "first second third"
    "fourth fifth six";
}
.clients-n-projects-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}
.clients-n-projects-paragraph>span{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}
.clients-n-projects-list-item-1{
    grid-area: first;
    background: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-n-projects-list-item-2{
    grid-area: second;
    background: rgba(232, 210, 171, 0.76);
    /*padding-top: 61px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.clients-n-projects-list-item-3{
    grid-area: third;
    background: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-n-projects-list-item-4{
    grid-area: fourth;
    background: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-n-projects-list-item-5{
    grid-area: fifth;
    background: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-n-projects-list-item-6{
    grid-area: six;
    background: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-n-projects-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 172px;
    padding-bottom: 72px;
}
.clients-n-projects-header-link{
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 40px;
}